// Libs overrides
.ch-container {
  background-color: #1e1e1e;
}

#ch-tooltip {
  z-index: 9999;
  background: #1e1e1e !important;
  font-size: 18px !important;
}

.ch-plugin-calendar-label-text,
.ch-domain-text {
  font-size: 16px !important;
  fill: #888888;
  color: #888888;
}

.ch-subdomain-container rect.ch-subdomain-bg {
  fill: #2c2c2c;
}

.ch-subdomain-bg.highlight {
  stroke: white !important;
  stroke-width: 2px !important;
}

.modal-wrapper {
  div[data-slot="input-wrapper"] {
    background-color: #303030;
  }

  label[data-slot="label"] {
    color: #919191 !important;
  }
}

.t-consentPrompt {
  border-radius: 30px !important;
}

.t-consentPrompt > div > div:first-child {
  display: none !important;
}

.t-acceptAllButton,
.t-preference-button,
.t-allowAllButton,
.t-declineAllButton {
  border-radius: 13px !important;
}

div[class*="termly-styles-modal-md"] {
  border-radius: 25px !important;
  overflow: hidden !important;
}

h2[class*="termly-styles-preferenceTitle-e3b150"] {
  font-size: 25px !important;
}

.PhoneInput {
  input {
    background-color: transparent;
    padding-left: 5px;
    font-size: 14px;
    line-height: 28px;
    outline: none;
    &::placeholder {
      color: rgb(145, 145, 145);
    }
  }
  background-color: #303030;
  padding: 14px;
  border-radius: 12px;
}

.proCard {
  &:before {
    content: "";
    display: block;
    background: linear-gradient(
      90deg,
      rgba(32, 221, 64, 0) 0%,
      rgba(32, 221, 64, 0.75) 50%,
      rgba(32, 221, 64, 0) 100%
    );
    height: 100%;
    width: 120%;
    transform: translate(0);
    position: absolute;
    animation: rotate 5s linear forwards infinite;
    z-index: 0;
    top: 50%;
    transform-origin: top center;
  }
}

.Toastify__toast {
  border-radius: 12px !important;
  padding: 12px 16px !important;
  min-height: 0 !important;
  max-height: none !important;
  margin-bottom: 10px !important;
}

.Toastify__close-button {
  bottom: 0 !important;
  top: auto !important;
  height: 50px !important;
  right: 10px !important;
}

.Toastify__toast-theme--dark {
  background: #303030 !important;
  color: #fff !important;
}

.Toastify__progress-bar-theme--dark {
  background: #3ad353 !important;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
