.auth {
  display: flex;
  flex-direction: column;

  > div > div {
    display: grid;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 0;
  }

  .container {
    gap: 10px;
  }

  .input {
    margin-bottom: 2px;
    background-color: #2d2d2d;
    border-radius: 20px;
    padding: 14px;
    border: none;

    &::placeholder {
      opacity: 0.3;
    }
  }

  .label {
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 10px;
  }

  .divider {
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    order: 2;

    &:after {
      content: "or";
      position: absolute;
      margin: auto;
      width: 30px;
      height: 20px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      inset: 0;
      text-align: center;
      background-color: #171717;
    }
  }

  .link {
    text-decoration: none;
    order: 5;
  }

  a[href*="auth-forgot-password"] {
    color: #626262;
    order: 2;
    margin-bottom: 5px;
  }

  .message {
    position: fixed;
    background-color: #2a2a2a;
    top: 20px;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    width: 250px;
    max-width: 90%;
    padding: 16px 12px;
    border-radius: 15px;
  }

  .container {
    order: 4;

    .button {
      background-color: #39d353;
    }
  }

  form {
    order: 1;
  }

  .button {
    border: none;
    background-color: white;
    color: white;
    border-radius: 20px;
    padding: 14px;

    &:hover {
      background-color: #2fb245 !important;
    }

    &[type="submit"] {
      background-color: white;
      color: #171717;
      order: 4;

      &:hover {
        background-color: #e8e8e8 !important;
      }
    }

    svg {
      path {
        fill: white;
      }
    }
  }
}
