@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  }

  .dark {
  }
}

@layer base {
}

* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

/* NEXT UI REWRITING */
.nav-logout {
  flex-grow: unset !important;
}

.nav_header header {
  padding-right: 1rem;
}

#tabs {
  z-index: 90;
  position: relative;
  background-color: #171717;
}

#tabsButton {
  height: 100%;
  margin: 0;
  border: none !important;
}

#tabsPlus {
  height: 100%;
}
