@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  --nextui-primary: 130 64% 53%;
  --nextui-primary-400: 130 64% 53%;
  --nextui-default-50: 0 0 13%;
  --nextui-primary-50: 0 0 9%;
  --nextui-content1: 0 0 11%;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  color: white;
  background-color: rgb(43, 43, 43);
}

a span::selection {
  color: #39d353;
  background-color: rgb(43, 43, 43);
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
  font-family: sans-serif;
  background-size: 70px 70px;
  background-image: linear-gradient(to bottom, #1f1f1f 1px, transparent 1px);
  background-position-x: -10px;
  background-position-y: -50px;
}

/* NEXT UI REWRITING */
.nav-logout {
  flex-grow: unset !important;
}

.nav_header header {
  padding-right: 1rem;
}

#tabs {
  z-index: 90;
  position: relative;
  background-color: #171717;
}

#tabsButton {
  height: 100%;
  margin: 0;
  border: none !important;
}

#tabsPlus {
  height: 100%;
}

button.tabJourney > div {
  text-align: left;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
