@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  --nextui-primary: 130 64% 53%;
  --nextui-primary-400: 130 64% 53%;
  --nextui-default-50: 0 0 13%;
  --nextui-primary-50: 0 0 9%;
}

.Toastify__toast-theme--dark {
  background: #303030 !important;
  color: #fff !important;
}

.Toastify__progress-bar-theme--dark {
  background: #39d353 !important;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  color: white;
  background-color: rgb(46, 46, 46);
}

textarea::selection {
  color: white;
  background-color: rgb(87, 87, 87);
}

a span::selection {
  color: #39d353;
  background-color: rgb(43, 43, 43);
}

html {
  width: 100vw;
  scroll-behavior: smooth;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
  font-family: sans-serif;

  &.light {
    background-color: #fff7dc;
  }

  &.dark {
    background-color: #171717;
  }
}

.landing {
  background-color: #171717 !important;
}

/* NEXT UI REWRITING */
.nav-logout {
  flex-grow: unset !important;
}

.nav-header header {
  padding-right: 0;
  padding-left: 30px;

  @media screen and (min-width: 768px) {
    padding-left: 5px;
  }
}

#tabs {
  z-index: 90;
  position: relative;
}

#tabsButton {
  height: 100%;
  margin: 0;
  border: none !important;
}

#tabsPlus {
  height: 100%;
}

button.tabJourney > div {
  text-align: center;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.syncer svg {
  width: 25px;
  height: 25px;
}

.ch-container {
  background-color: #1e1e1e;
}

#ch-tooltip {
  z-index: 9999;
  background: #1e1e1e !important;
  font-size: 18px !important;
}

.ch-plugin-calendar-label-text,
.ch-domain-text {
  font-size: 16px !important;
  fill: #888888;
  color: #888888;
}

.ch-subdomain-container rect.ch-subdomain-bg {
  fill: #2c2c2c;
}

.ch-subdomain-bg.highlight {
  stroke: white !important;
  stroke-width: 2px !important;
}

.modal-wrapper {
  div[data-slot="input-wrapper"] {
    background-color: #303030;
  }

  label[data-slot="label"] {
    color: #919191 !important;
  }
}

.t-consentPrompt {
  border-radius: 30px !important;
}

.t-consentPrompt > div > div:first-child {
  background-color: red !important;
  display: none !important;
}

.t-acceptAllButton,
.t-preference-button,
.t-allowAllButton,
.t-declineAllButton {
  border-radius: 13px !important;
}

div[class*="termly-styles-modal-md"] {
  border-radius: 25px !important;
  overflow: hidden !important;
}

h2[class*="termly-styles-preferenceTitle-e3b150"] {
  font-size: 25px !important;
}

.PhoneInput {
  input {
    background-color: transparent;
    padding-left: 5px;
    font-size: 14px;
    line-height: 28px;
    outline: none;
    &::placeholder {
      color: rgb(145, 145, 145);
    }
  }
  background-color: #303030;
  padding: 14px;
  border-radius: 12px;
}
