@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  --nextui-primary: 130 64% 53%;
  --nextui-primary-400: 130 64% 53%;
  --nextui-default-50: 0 0 13%;
  --nextui-primary-50: 0 0 9%;
  --nextui-content1: 0 0 11%;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  color: white;
  background-color: rgb(46, 46, 46);
}

a span::selection {
  color: #39d353;
  background-color: rgb(43, 43, 43);
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

/* NEXT UI REWRITING */
.nav-logout {
  flex-grow: unset !important;
}

.nav_header header {
  padding-right: 1rem;
}

#tabs {
  z-index: 90;
  position: relative;
  background-color: #171717;
}

#tabsButton {
  height: 100%;
  margin: 0;
  border: none !important;
}

#tabsPlus {
  height: 100%;
}

button.tabJourney > div {
  text-align: left;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.syncer svg {
  width: 25px;
  height: 25px;
}

.ch-container {
  background-color: #1e1e1e;
}

#ch-tooltip {
  z-index: 9999;
  background: #1e1e1e !important;
  font-size: 18px !important;
}

.ch-plugin-calendar-label-text, .ch-domain-text {
  font-size: 16px !important;
  fill: #888888;
  color: #888888;
}

.ch-subdomain-container rect.ch-subdomain-bg {
  fill: #2c2c2c;
}

.ch-subdomain-bg.highlight {
  stroke: white !important;
  stroke-width: 2px !important;
}